body{
    /* background-image: url('wow_classic_ragnaros_1920x1080.jpg'); */
    background-image: url(images/background_hippogryph.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}
form{
    border-radius: 10px;
    margin-right: 1%;
    width: 250px;
    padding: 2%;
    background-color: burlywood;
    /* opacity: 0.9; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
form[name='CharStats'] div{
    margin: 5px;
}
#result {
    border-radius: 10px;
    width: 250px;
    margin: 0;
    padding: 2%;
    background: burlywood;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
span {
    font-weight: bold;
}
.wrapper {
    padding: 1%;
}
.wrapper h1, .wrapper h3 {
    border-radius: 5px;
    padding: 1%;
    width: fit-content;
    margin: 20px auto 20px auto;
    text-align: center;
    background-color: burlywood;
}
.stats input {
    text-align: center;
    max-width: 70px;
}
.stats > div{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.centre {
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.result_box {
    background-color: white;
    border: 1px solid black;
}