body{
    /* background-image: url('wow_classic_ragnaros_1920x1080.jpg'); */
    background-image: url(images/background_hippogryph.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}
form{
    border-radius: 10px;
    margin: 1%;
    width: 250px;
    padding: 2%;
    background-color: burlywood;
    /* opacity: 0.9; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
form[name='CharStats'] div{
    margin: 5px;
}
form .buttons{
    width: 100%;
    text-align: center;
}
form[name='CharStats'] input[type='submit'], form[name='CharStats'] input[type='reset']{
    border: 2px solid #131211;
    border-radius: 7px;
    font-size: medium;
    font-weight: bold;
    margin: 4%; 
    padding: 4%;
    color: #FFC700;
    background-image: radial-gradient(#7F0D08, #2E0503);
}
#result {
    border-radius: 10px;
    width: 250px;
    margin: 1%;
    padding: 2%;
    background: burlywood;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
form span {
    font-weight: bold;
}
.wrapper {
    padding: 1%;
}
.wrapper h1, .wrapper h3, .wrapper footer {
    border-radius: 5px;
    padding: 1%;
    width: fit-content;
    margin: 20px auto 20px auto;
    text-align: center;
    background-color: burlywood;
}
.stats input {
    text-align: center;
    max-width: 70px;
}
.stats > div{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.centred {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.result_box {
    background-color: white;
    border: 1px solid black;
}