body{
    background-image: url(images/background_hippogryph.jpg);
    background-size: cover;
}
.wrapper {
    padding: 1%;
}
.wrapper h1, .wrapper h3, footer {
    border-radius: 5px;
    padding: 1%;
    width: fit-content;
    margin: 20px auto 20px auto;
    text-align: center;
    background-color: burlywood;
}
main h1:first-of-type {
    border: 2px solid #131211;
}
footer{
    border: 2px solid #131211;
}
form{
    border-radius: 10px;
    width: 250px;
    margin: 1%;
    padding: 1%;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form[name='CharStats'] div{
    margin: 5px;
}
form .buttons, form .spell_select{
    width: 100%;
    text-align: center;
}
form[name='CharStats'] input[type='submit'], form[name='CharStats'] input[type='reset']{
    border: 2px solid #131211;
    border-radius: 7px;
    font-size: medium;
    font-weight: bold;
    margin: 4%; 
    padding: 4%;
    color: #FFC700;
    background-image: radial-gradient(#7F0D08, #2E0503);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
form span, #evocation_div label{
    font-weight: bold;
}
form select{
    padding: 1%;
}
#result, #about{
    border: 2px solid #131211;
    border-radius: 10px;
    width: 250px;
    margin: 1%;
    padding: 1%;
    background-color: burlywood;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#about{
    text-align: start;
    font-size: medium;
}
.stats input {
    text-align: center;
    max-width: 70px;
}
.stats > div{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.centred {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.centred form:first-of-type{
    border: 2px solid #131211;
}
.text_box {
    background-color: white;
    border: 2px solid #131211;
    border-radius: 5px;
    padding: 4%;
    margin: 4%;
}